@keyframes slideright {
    from {
        background-position: 27050%;
    }
    to {
        background-position: 0%;
    }
}

#score {
    position:absolute;
    right: 200px;
    top: 0;
}

#desert {
    position: absolute;
    background-image: url('ground.png');
    height: 200px;
    width: 100%;
    animation: slideright 600s infinite linear;
    bottom:0;
}

.dino {
    background-image: url('trex.png');
    height: 60px;
    width: 60px;
    bottom:0;
    position:absolute;
}

.obstacle {
    background-image: url('cacti.png');
    height: 105px;
    width: 98px;
    position:absolute;
    bottom:0;
}

